@{
    ViewBag.Title = "AddGames";
}
<form method="post">
    <label>Name</label><br />
    <input type="text" name="name" /><br />

    <label>Genre</label><br />
    <input type="text" name="genre" /><br />

    <label>Stylistics</label><br />
    <input type="text" name="stylistics" /><br />

    <label>YearRelease</label><br />
    <input type="text" name="yearRelease" /><br />

    <label>Author</label><br />
    <input type="text" name="author" /><br />

    <label>Feelings</label><br />
    <textarea name="feelings"></textarea><br />

    <input type="submit" value="Send" />
</form>
