<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GameBloc</title>
</head>
<body>

<div>
    <h3> @ViewBag.Title </h3>
    @RenderBody()
</div>
    <footer>
        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }
        else
        {
            <h3> @Html.ActionLink("Time", "index", "Time")</h3>
        }
    </footer>
</body>
</html>
