<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GameBloc</title>
</head>
<body>
    <h2><a href="/AllGames/AllGames">AllGames</a></h2>
    <h2><a href="/AllGames/AddGame">AddGame</a></h2>
<div>
    @RenderBody()
</div>
</body>
</html>
