@{
    ViewBag.Title = "Convert Time";
    TimePart timePart;
    TypeTimePart typeTimePart;
    @model double
}

<form method="post"> 
    <p>
    <h3> Перевести </h3>
    @{
        foreach (TypeTimePart parts in (TypeTimePart[])Enum.GetValues(typeof(TypeTimePart)))
        {
            <select name="@parts">
                @{
                    foreach (TimePart part in (TimePart[])Enum.GetValues(typeof(TimePart)))
                    {
                        <option value="@part">@part</option>
                    }
                }
            </select>
            }
    }
    <br />
    <input type="text" name="number" /><br /><br />
    <input type="submit" value="Выполнить"/>
    </p>
</form>

<form method="get">
    <h3> @Model </h3>
</form>