@{
    ViewBag.Title = "Add Game";
}
<form method="post">
    <label>Название</label><br />
    <input type="text" name="name" /><br />
    <label>Жанр</label><br />
    <input type="text" name="genre" /><br />
    <label>Стилистика</label><br />
    <input type="text" name="stylistics" /><br />
    <label>Дата релиза</label><br />
    <input type="text" name="yearRelease" /><br />
    <label>Автор</label><br />
    <input type="text" name="author" /><br />
    <label>Ощущения от игры</label><br />
    <textarea name="feelings"></textarea><br />
    <input type="submit" name="submit" />
</form>
